body {
  color: rbg ( 183, 40, 105);
  background-color: rbg ( 205, 32, 73);
  margin: 7px;
  
}

header {
  border-bottom: solid 2px rgb(42, 122, 228); 
  padding: 20px
  frront-size: 32px
  color: rbg(183, 40, 105);
}
section {
  background: rbg ( 205, 32,73 / 26%);
  padding-bottom: 80px
  padding-top: 80px
  display: flex;
  justify-content: center;
}

.chamada-texto {
   margin-right: 5%;
}
